/**
 * Imports
 */
@import "mixins";

$woocommerce: 		#ad74a2;
$green:				#7ad03a;
$dark-green:		#27ae60;
$red:				#a00;
$orange:			#ffba00;
$blue:				#2ea2cc;
$grey:				#999;

$primary:           #a46497;                                    // Primary colour for buttons (alt)
$primarytext:       desaturate(lighten($primary, 50%), 18%);    // Text on primary colour bg

$secondary:         desaturate(lighten($primary, 40%), 21%);    // Secondary buttons
$secondarytext:     desaturate(darken($secondary, 60%), 21%);   // Text on secondary colour bg

$highlight:         adjust-hue($primary, 150deg);               // Prices, In stock labels, sales flash
$highlightext:      desaturate(lighten($highlight, 50%), 18%);  // Text on highlight colour bg

$contentbg:         #fff;                                       // Content BG - Tabs (active state)
$subtext:           #777;                                       // small, breadcrumbs etc

$hours-width:		100px;
$hours-height:		100% / 24;
$column-width:		170px;

// Products list icon
table.wp-list-table span.product-type.appointment:before {
	content: '\f321';
	font-family: 'dashicons' !important;
}

// Product data tabs
#woocommerce-product-data {
	ul.wc-tabs {
		li.appointments_staff_tab {
			a {
				&:before {
					content: '\e03a' !important;
					font-family: 'woocommerce' !important;
				}
			}
		}
		li.appointments_availability_tab {
			a {
				&:before {
					content: '\e00e' !important;
					font-family: 'woocommerce' !important;
				}
			}
		}
	}
}

// Appointment statuses
th.column-appointment_status {
	text-align: center;
	width: 48px;
}

.type-wc_appointment {
	.column-appointment_status {
		text-align: center;
		width: 48px;

		span {
			@include ir();
			&:before {
				@include icon();
				font-size: 1.4em;
			}
			&.status-unpaid:before, &.status-incart:before {
				content: "\e033";
			}
			&.status-pending:before,
			&.status-pending-confirmation:before {
				content: "\e012";
				color: $orange;
			}
			&.status-confirmed:before {
				content: "\e011";
				color: $green;
			}
			&.status-paid:before {
				content: "\e015";
				color: $blue;
			}
			&.status-cancelled:before {
				content: "\e013";
				color: $red;
			}
			&.status-complete:before {
				content: "\e015";
				color: $grey;
			}
		}
	}
}

// Appointment actions
.column-appointment_actions {
	a {
		@include ir();
		padding: 0 !important;
		height: 2em !important;
		width: 2em;
		margin-right: 4px !important;
		&:after {
			@include icon();
			line-height: 1.85;
		}
		&.confirm:after {
			content: "\e017";
		}
		&.cancel:after {
			content: "\e013";
		}
		&.view:after {
			content: "\e010";
		}
	}
}

#woocommerce-appointment-data {
	h2.hndle, h3.hndle, .handlediv {
		display: none;
	}
	.inside {
		display: block !important;
	}
}
#woocommerce-appointable-staff-data {
	.inside, .woocommerce_options_panel {
		padding: 0;
		margin: 0;
	}
}
#woocommerce-customer-data {
	.inside {
		padding-bottom: 0;
	}
	.appointment-customer-details {
		width: 100%;
		td, th {
			vertical-align: top;
			text-align: left;
		}
		th {
			padding: 0 6px 6px 0;
		}
		td {
			padding: 0 0 6px;
		}
		.view td {
			padding-bottom: 12px;
		}
	}
}

// Appointment details
#appointment_data {
	padding: 24px 12px;
	@include clearfix();
	h2 {
		margin: 0;
		font-size: 21px;
		font-weight: 700;
		line-height: 1.2;
		text-shadow: 1px 1px 1px white;
		padding: 0;
		.dashicons {
			text-decoration: none;
			vertical-align: bottom;
			font-size: 18px;
		}
	}
	h4 {
		color: #333;
		margin: 1.33em 0 0;
	}
	p {
		color: #777;
	}
	p.appointment_number {
		margin: 0;
		font-weight: 700;
		line-height: 1.6em;
		font-size: 16px;
	}
	.appointment_data_column_container {
		clear: both;
	}
	.appointment_data_column {
		width: 32%;
		padding: 0 2% 0 0;
		float: left;
		&:last-child {
			padding-right: 0;
		}
		p {
			padding: 0 !important;
		}
		.form-field {
			float: left;
			width: 48%;
			padding: 0;
			margin: 9px 0 0 0;
			&._appointment_parent_id_field,
			&.appointment_start_date_field,
			&.appointment_end_date_field {
				margin-right:3.8%;
			}
			&._appointment_all_day_field {
				width:100%;
			}
			label {
				display: block;
				padding: 0 0 3px;
			}
			input[type="text"],
			input[type="number"],
			textarea {
				width: 100%;
			}
			input[type="checkbox"] {
				width: auto;
			}
			input[type="time"] {
				max-width: 110px;
			}
			select {
				width: 100%;
			}
			#appointment_status_chzn {
				.chzn-search {
					display: none;
				}
			}
			.chzn-container {
				width: 100% !important;
			}
			.date-picker {
				width: 100%;
			}
			.hour, .minute {
				width: 3.5em;
			}
			small {
				display: block;
				margin: 5px 0 0 0;
				color: #999;
			}
			&.form-field-wide {
				input[type="text"] {
					width: auto;
				}
			}
		}
		.form-field.last {
			float: right;
		}
		.form-field-wide {
			width: 100%;
			clear: both;
			input, textarea {
				width: 100%;
			}
			select {
				width: 100%;
			}
		}
		p.none_set {
			color: #999;
		}
		._billing_first_name_field, ._billing_address_1_field, ._billing_city_field, ._billing_country_field, ._billing_email_field,
		._shipping_first_name_field, ._shipping_address_1_field, ._shipping_city_field, ._shipping_country_field {
			float: left;
		}
		._billing_last_name_field, ._billing_address_2_field, ._billing_postcode_field, ._billing_state_field, ._billing_phone_field,
		._shipping_last_name_field, ._shipping_address_2_field, ._shipping_postcode_field, ._shipping_state_field {
			float: right;
		}
		._billing_company_field, ._shipping_company_field {
			clear: both;
			width: 100%;
		}
		._billing_email_field {
			clear: left
		}
		div.edit_address {
			display: none;
			overflow: hidden;
			zoom: 1;
			padding-right: 1px;
		}
	}
	#appointment_date {
		width: 50%;
	}
}

// Calendar form
.wc_appointments_calendar_form {
	margin: 1em 0 0 !important;
	.appointments {
		color: #000;
		overflow: auto;
		height: 100px;
		width: 100%;
		text-align: left;
		li:not(.multiple-staff-appointment) {
			padding:0;
			margin: 0 0 4px 0;
			list-style: none;
			a {
				background-color: rgba(255, 255, 255, 0.8);
				color: #000;
				display: block;
				margin-left: 4px;
				padding: 2px 4px;
				position: relative;
				text-decoration: none;
				&:hover {
					background-color: rgba(255, 255, 255, 0.7);
				}
				ul {
					padding: 0;
					margin: 0;
					li {
						list-style: none;
						font-size: 0.75em;
						padding: 0;
						margin: 0;
						border:0;
						&.appointment_status {
							display: inline-block;
							position: absolute;
							top: 3px;
							left: auto;
							right: 6px;
							text-align: right;
							&:before {
								font-family: WooCommerce;
								speak: none;
								font-weight: 400;
								font-variant: normal;
								text-transform: none;
								line-height: 1;
								-webkit-font-smoothing: antialiased;
								margin: 0;
								text-indent: 0;
								content: '';
								font-size: 1.2em;
							}
							&.status-unpaid:before, &.status-incart:before {
								content: "\e033";
							}
							&.status-pending:before,
							&.status-pending-confirmation:before {
								content: "\e012";
							}
							&.status-confirmed:before {
								content: "\e011";
							}
							&.status-paid:before {
								content: "\e015";
							}
							&.status-cancelled:before {
								content: "\e013";
							}
							&.status-complete:before {
								content: "\e015";
							}
						}
					}
				}
			}
		}
	}
	.calendar_wrapper {
		border: 1px solid #ddd;
		overflow-x: auto;
	}
	.calendar_days {
		position: relative;
		box-sizing: border-box;
		overflow: hidden;
		transform: translateZ(0);
		> * {
			box-sizing: inherit;
			margin: 0;
		}
		.grid {
			position: absolute;
			width: 100%;
			background-image: linear-gradient(to bottom, #666 0%, #f9f9f9 1%, #f9f9f9 25%, #ddd 25%, #f9f9f9 26%, #f9f9f9 50%, #ddd 50%, #f9f9f9 51%, #f9f9f9 75%, #ddd 75%, #f9f9f9 76%);
			background-repeat: repeat;
			background-position-x: 0;
			background-size: auto $hours-height;
			background-origin: content-box;
			transform: translateZ(0);
			z-index: 2;
		}
		.hours {
			position: relative;;
			float: left;
			width: $hours-width;
			margin: 0;
			z-index: 4;
			li {
				height: 60px;
				height: calc( #{$hours-height} ); // Should work now by using "calc" in Safari/ Firefox, too
				vertical-align: top;
				padding: 0;
				margin: 0;
				label {
					float: left;
					background: #f9f9f9;
					padding: 0 8px;
					margin-top: -9px;
					@include noselect;
				}
			}
		}
		.allday_label {
			box-sizing: border-box;
			box-shadow: 0 1px 0 #ddd;
			width: $hours-width;
			padding: 6px 12px;
			display: block;
			position: relative;
			float: left;
			z-index: 6;
		}
		.appointments {
			padding: 0 0 0 $hours-width;
			position: absolute;
			white-space: nowrap;
			z-index: 3;
			> li:not(.multiple-staff-appointment) {
				position: absolute;
				width: $column-width - 2px;
				overflow: hidden;
			    border-top: 1px solid rgba(255,255,255,0.7);
				&:hover {
					z-index: 10;
					box-shadow: 0px 8px 9px -6px rgba(0, 0, 0, 0.2);
					transition: all 150ms ease;
				}
				> a {
					height: 100%;
					width: 100%;
					ul li.appointment_status {
						right: 16px;
					}
				}
			}
			.multiple-staff-appointment {
				opacity: 0.5;
				position: absolute;
			    width: $column-width - 2px;
				z-index: -1;
				a {
					display: block;
					width: 100%;
					height: 100%;
					background-color: transparent;
					background-image: linear-gradient(-45deg, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 44%,#fff 45%,#fff 55%,rgba(255,255,255,0.5) 56%,rgba(255,255,255,0.5) 100%);
					background-size: 4px 4px;
					background-repeat: repeat;
				}
			}
		}
		.appointments.allday {
			background-color: #fff;
			height: auto;
			min-height: 30px;
			z-index: 5;
			> li {
				position: relative;
				float: left;
				margin: 3px 3px 0 0;
			}
		}
		.appointments.bytime {
			> li:not(.multiple-staff-appointment):hover {
				min-height: 60px;
			}
		}

		.time_indicator {
		    width: 100%;
		    height: 0px;
		    margin-top: -1px;
		    border-bottom: 2px solid rgba(255, 0, 0, .9);
		    background-color: rgba(255, 255, 255, 0.5);
		    position: absolute;
	    }

	}
	.calendar_days.calendar_view_by_staff {
		.grid {
			background-image: linear-gradient(to bottom, black 0%, #ddd 1%, #ddd 25%, #666 25%, #ddd 26%, #ddd 50%, #666 50%, #ddd 51%, #ddd 75%, #666 75%, #ddd 76%);
		}
		.staff {
		    z-index: 8;
			margin: 0;
			padding-left: $hours-width;
			background-color: #fff;
			border-bottom: 1px solid #ddd;
			white-space: nowrap;
			min-width: 100%;
			width: auto;
			height: 30px;
			li {
				width: $column-width;
				min-height: 30px;
				display: inline-block;
				text-align: center;
				border-left: 1px solid #DDD;
				margin-bottom: 0;
				padding-top: 5px;
				box-sizing: border-box;
				cursor: default;
				a {
					margin: 0 5px 0 -10px;
					display: inline-block;
					vertical-align: top;
					text-decoration: none;
					img {
						border-radius: 50%;
						margin-right: 5px;
					}
					span {
						vertical-align: top;
					}
					&:hover {
						opacity: 0.8;
					}
				}
	    	}
	    	li.secondary {
		    	color: #aaa;
	    	}
		}
		.staff:not(.duplicate) {
			li#current_user {
				font-weight: 600;
				background: #0073AA;
				color: #fff;
			}
		}
		.staff.duplicate {
			position: absolute;
			top: calc(50% + 60px);
			background: none;
			border: none;
			opacity: 0.3;
			pointer-events: none;
		}
		.hours {
			background: rgba(255, 255, 255, 0.6);
		}
		.appointments {
		    background-image: linear-gradient(to right, #BDBDBD 0%, rgba(255, 255, 255, 0.5) 1%);
		    background-size: $column-width;
		    background-repeat: repeat;
			background-position: $hours-width 0;
			margin: 0;
	    }
		.appointments.allday {
			height: 30px;
			> li {
				height: 23px;
				position: absolute;
			}
			.multiple-staff-appointment {
				height: 24px;
			}
		}
	}
	.tablenav {
		height: auto;
		@include clearfix();
		.filters {
			float: left;
			line-height: 30px;
			padding: 5px 0;
			.chosen-container {
				width: 12em;
			}
		}
		.views {
			float: right;
			padding: 0;
			a {
				padding:11px 20px;
				display: block;
				text-decoration: none;
				&:before {
					@include iconbefore( "\e010" );
				}
			}
		}
		.date_selector {
			margin-left:5px;
			display: block;
			float: left;
			div {
				padding: 5px 0;
				float: left;
				&:first-of-type {
					select {
						margin-right:5px;
					}
				}
			}
			select {
				vertical-align: middle;
				width: 6em;
			}
			a {
				@include ir();
				font-size:1.3em;
				padding:.6em;
				&:before {
					@include icon();
					line-height: 2.3;
				}
			}
			a.prev {
				float: left;
				&:before {
					content: "\e00b";
				}
			}
			a.next {
				float: right;
				&:before {
					content: "\e008";
				}
			}
		}
	}
	.wc_appointments_calendar {
		width: 100%;
		th {
			text-align: center;
		}
		td {
			color: #bbb;
			text-align: right;
			padding: 8px 8px 0 0;
			font-size: 15px;
			border-right: 1px solid #ddd;
			border-bottom:1px solid #ddd;
			height: 120px;
		}
		.calendar-diff-month {
			background: #efefef;
		}
		tbody {
			tr {
				td {
					&:last-child {
						border-right:0;
					}
				}
				&:last-child {
					td {
						border-bottom:0;
					}
				}
			}
		}
	}
}

// Calendar dialog
#wca-dialog-container-edit-appointment, #wca-dialog-container-add-appointment {
	display: none;
	position: relative;
}

#wca-dialog-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 310px;
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	z-index: 100100;
}

#wca-dialog-wrap {
	background-color: #fff;
	-webkit-box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
	box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
	width: 440px;
	height: 300px;
	overflow: hidden;
	margin-left: -220px;
	margin-top: -150px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100105;
}

#wca-dialog {
	position: relative;
	height: 100%;
}

#wca-dialog-header {
	display: flex;
    align-items: flex-end;
	background: #fcfcfc;
	border-bottom: 1px solid #ddd;
	height: 60px;
	margin: 0;
	padding: 0 36px 8px 0;
	.dashicons {
		vertical-align: middle;
	}
	a {
		text-decoration: none;
	}
	#wca-dialog-close {
		color: #666;
		padding: 0;
		position: absolute;
		top: 0;
		right: 0;
		width: 36px;
		height: 36px;
		text-align: center;
		background: none;
		border: none;
		cursor: pointer;
	}

	#wca-dialog-close:before {
		font: normal 20px/36px dashicons;
		vertical-align: top;
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		width: 36px;
		height: 36px;
		content: "\f158";
	}

	#wca-dialog-close:hover,
	#wca-dialog-close:focus {
		color: #00a0d2;
	}

	#wca-dialog-close:focus {
		outline: none;
		-webkit-box-shadow:
			0 0 0 1px #5b9dd9,
			0 0 2px 1px rgba(30, 140, 190, .8);
		box-shadow:
			0 0 0 1px #5b9dd9,
			0 0 2px 1px rgba(30, 140, 190, .8);
	}
	
	.wca-customer-avatar {
		width: 44px;
		height: 44px;
		border-radius: 50%;
		margin: 0 23px;
	}

	#wca-detail-customer {
		height: 48px;
		line-height: 48px;
		overflow: hidden;
		white-space: nowrap;
		dd {
			vertical-align: middle;
		}
		.wca-customer-name {
			font-size: 17px;
			font-weight: 700;
		}
		.wca-customer-status {
			font-style: italic;
			font-size: .8em;
			font-weight: 400;
			margin-left: .45em;
		}
		.wca-customer-meta {
			display: inline-block;
			margin-left: .45em;
			.dashicons {
				font-size: 17px;
			}
		}
	}
}

#wca-dialog-content {
	-webkit-overflow-scrolling: touch;
	padding: 0 16px;
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	bottom: 44px;
}

#wca-dialog-inner {
	display: table;
	padding: 12px 0;
	width: 100%;
	dl {
		display: table-row;
		dt, dd {
			display: table-cell;
			padding: .35em .65em;
		}
		dt {
			width: 90px;
			text-align: left;
			color: $subtext;
		}
	}
	a {
		text-decoration: none;
	}
	#wca-product-qty {
		color: $secondarytext;
	}
}

#wca-dialog-footer {
	padding: 8px 16px;
	background: #fcfcfc;
	border-top: 1px solid #ddd;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	#wca-dialog-cancel {
		line-height: 25px;
		float: left;
	}
	#wca-dialog-update {
		line-height: 23px;
		float: right;
		.button:first-child{
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
	}
}
#wca-dialog .button .dashicons {
	vertical-align: text-top;
	font-size: 18px;
}
#wca-dialog .button-success {
	background-color: $dark-green;
	color: white;
	border-color: darken($dark-green,5)  darken($dark-green,6)  darken($dark-green,7);
	box-shadow: 0 1px 0 darken($dark-green,10);
	&:hover {
		background-color: lighten($dark-green,2)
	}
}

@media screen and ( max-width: 782px ) {
	#wca-dialog-content {
		padding: 0 16px 60px;
	}

	#wca-dialog-content {
		bottom: 52px;
	}

	#wca-dialog-cancel {
		line-height: 32px;
	}

	#wca-dialog-footer .button {
		margin-bottom: 0;
	}
}

@media screen and ( max-width: 460px ) {
	#wca-dialog-wrap {
		width: auto;
		margin-left: 0;
		left: 10px;
		right: 10px;
		max-width: 440px;
	}
}

@media screen and ( max-height: 320px ) {
	#wca-dialog-wrap {
		-webkit-transition: none;
		transition: none;
		height: auto;
		margin-top: 0;
		top: 10px;
		bottom: 10px;
	}

	#wca-dialog-content {
		overflow: auto;
	}
}

@media screen and ( max-height: 290px ) {
	#wca-dialog-content {
		overflow: auto;
		height: -webkit-calc(100% - 92px);
		height: calc(100% - 92px);
		padding-bottom: 2px;
	}
}

div.wca-dialog-input {
	float: left;
	margin: 2px;
	max-width: 694px;
}

div.wca-dialog-input input {
	width: 300px;
	padding: 3px;
	box-sizing: border-box;
}

@media screen and ( max-width: 782px ) {
	div.wca-dialog-input {
		max-width: 70%;
		max-width: -webkit-calc(100% - 86px);
		max-width: calc(100% - 86px);
	}

	div.wca-dialog-input {
		width: 300px;
	}

	div.wca-dialog-input input {
		width: 100%;
		font-size: 16px;
		padding: 5px;
	}
}

// Appointment form
.wp-admin {
	.wc-appointments-appointment-form {
		max-width: 370px;
		.select2-container {
			max-width: 100% !important;
		}
		.ui-datepicker th,
		.ui-datepicker td {
			display: table-cell;
		}
	}
	.wc-appointments-appointment-form-wrap {
		div.quantity {
			float: left;
			margin: 0 4px 0 0;
		}
	}
}

// Appointments data
#appointments_product_data,
#appointments_availability .options_group,
#appointments_pricing {
	.table_grid {
		padding: 0 9px;
		@media only screen and (min-width: 1500px) {
			.price_wrap {
				position: relative;
				width: 100%;
				select {
					margin-right: 7px;
					width: calc(45% - 7px);
				}
				input[type="number"] {
					width: 55%;
				}
			}
		}
	}
}

#appointments_product_data, #appointments_pricing, #appointments_availability, #appointments_settings, #appointments_staff {
	.options_group_heading {
		background: #ececec;
		border-bottom: 1px solid #dfdfdf;
		padding: .5em 12px;
		margin: -10px -9px .75em;
	}
	.photo {
		vertical-align: middle;
		margin-right: 10px;
	}
	.edit_staff {
		float: right;
		font-weight: normal;
		line-height: 26px;
		margin: 0 1em 0 0;
		padding: 0;
		position: relative;
	}
	.table_grid {
		table {
			margin-bottom: 9px;
			.wc-metabox-sortable-placeholder td {
				border-color: #bbb;
				background-color: #f5f5f5;
				margin-bottom: 9px;
				border-width: 1px;
				border-style: dashed;
			}
			td.sort {
				width: 16px !important;
				padding: 9px;
				cursor: move;
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAHUlEQVQYV2O8f//+fwY8gJGgAny6QXKETRgEVgAAXxAVsa5Xr3QAAAAASUVORK5CYII=) no-repeat center;
			}
			td.remove {
				width: 16px !important;
				cursor: pointer;
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAOElEQVQYV2O8f//+fwYgUFRUZATRMAATZ4QxkBUhi4F1IQsgmwIyFW4suiKYlcQpwGsFQUcS8iYAtbQueUkqcX4AAAAASUVORK5CYII=) no-repeat center !important;
				&:hover {
					background: #fb0216  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAJCAYAAAAPU20uAAAAXElEQVQYV2P8DwQMQMAIBCAaBuDiMAayIhSxNery/4NvPEDWDGev1VBgABuLTRFIMuTmQ4S9yMYiWwd3GLoCmCJGZAmQsSCA7Ca4Apid6G5iBDkQJAhyELJXYOIAYDU73N3P8p4AAAAASUVORK5CYII=) no-repeat center !important;
				}
			}
			th.sort, th.remove {
				width: 16px !important;
			}
			th {
				font-weight: 600;
				padding: 15px 10px;
				white-space: nowrap;
			}
			td {
				background-color: #fff;
				border-bottom: 1px solid #DFDFDF;
				border-top: 0;
				padding: 10px;
				position: relative;
				vertical-align: middle;
				width: auto !important;
				input, span.text {
					width: 100%;
					height: 35px;
					padding: 6px 7px;
					margin: 0;
					background: transparent none;
					display: block;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
					float: none;
					outline: none !important;
				}
				&.checkbox {
					vertical-align: middle;
					text-align: center;
					input {
						width: auto;
						float: none;
						display: inline;
					}
				}
				.from_date,
				.to_date,
				.on_date {
					position: relative;
				}
				input.short {
					-moz-box-sizing: content-box;
					-webkit-box-sizing: content-box;
					width: 1em;
					box-sizing: content-box;
					text-align: center;
				}
				.ui-datepicker-trigger {
					background: none;
					border: 0;
					color: #777;
					margin: -10px 10px 0 0;
					padding: 0;
					position: absolute;
						right: 0;
						top: 50%;
				}
				select {
					width: 100%;
					padding: 4px 6px;
					margin: 0;
					height: 35px;
				}
				.select {
					overflow: hidden;
					zoom: 1;
					min-width: 50px;
				}
			}
			td:last-child {
				border-right: 0;
			}
			tr.current td {
				background: #fefbcc;
			}
			.button {
				float: right;
				&:before {
					@include iconbefore( "\e007" );
				}
			}
			tfoot {
				td, th {
					background-color: #f5f5f5;
					border-top: 0;
					vertical-align: middle;
					line-height: 26px;
				}
			}
		}
	}
	.toolbar {
		overflow: hidden;
		.add_staff, .add_staff_id {
			float: right;
			margin-left: 10px;
		}
	}
	.toolbar h3 {
		float: left;
		padding: 0;
		border: 0;
	}
	.woocommerce_appointment_staff {
		label {
			width: auto;
			float: none;
			margin: 0;
		}
	}
}

#woocommerce-appointment-save {
	.inside {
		margin: 0;
		padding: 0;
		&:after {
			content: " ";
			display: block;
			height: 0;
			clear: both;
		}
		.submitbox {
			background: #f5f5f5;
			clear: both;
			#appointment_date {
				width: 10em;
			}
			#appointment_date_hour,
			#appointment_date_minute {
				width: 3em;
			}
			.minor-save-actions {
				background: white;
				border-bottom: 1px solid #ddd;
				label {
					color: #777;
					padding: 0 0 3px;
					display: block;
				}
			}
			.major-save-actions {
				padding: 10px;
			}
			&:after {
				content: " ";
				display: block;
				height: 0;
				clear: both;
			}
		}
	}
}

#appointments_settings {
	.hndle {
		display: none;
	}

	#poststuff {
		padding-top: 0;
	}

	.postbox {
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		background: none;

		.inside {
			margin: 0;
			padding: 0;
		}
	}
}

.appointments-datetime-select-both .from_time,
.appointments-datetime-select-both .to_time {
	margin-top: 1em;
}

.hide_initial_appointment_addon_options {
	display: none;
}

._wc_appointment_cal_color_field {
	.wp-color-result {
		box-shadow: none;
		margin: 0 0 1px 0;
	}
}

label.disabled {
	color: #999999;
	pointer-events: none;
}

// jQuery Datepicker
.ui-datepicker:not(.ui-datepicker-inline) {
	padding: 6px 6px 0;
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
	z-index: 5 !important;
	* {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	}
	td {
		padding: 0;
		.ui-state-default {
			background: 0 0;
			border: none;
			text-align: center;
		}
	}
	td.ui-datepicker-today,
	td.ui-datepicker-today a {
		color: #f6563e;
	}
	td.ui-datepicker-selected-day,
	td.ui-datepicker-current-day a,
	td.ui-datepicker-current-day a:hover {
		background-color: rgba(0,0,0,.1);
		opacity: 1;
	}
	td:hover,
	.ui-state-hover,
	.ui-datepicker-prev-hover,
	.ui-datepicker-next-hover {
		background: rgba(0,0,0,.05);
		cursor: pointer;
	}
	.ui-datepicker-header {
		background: 0 0;
		border: 0;
		border-bottom: 1px solid rgb(221, 221, 221);
		border-radius: 0;
		padding-bottom: 9px;
		.ui-datepicker-prev-hover,
		.ui-datepicker-next-hover,
		.ui-datepicker-next,
		.ui-datepicker-prev {
			height: 35px;
			width: 35px;
			top: 0;
			border: none;
			border-radius: 0;
			box-shadow: none;
		}
		.ui-datepicker-prev {
			left: 0;
		}
		.ui-datepicker-next {
			right: 0;
		}
		.ui-datepicker-prev span,
		.ui-datepicker-next span {
			background: none;
			margin-top: 0;
			top: 0;
			height: 40px;
			font-weight: normal;
			&:before {
				font-family: dashicons;
				text-indent: 0;
				position: absolute;
				top: 0;
				left: 0;
				text-align: center;
				line-height: 35px;
			}
		}
		.ui-datepicker-prev span:before {
			content: "\f340";
		}
		.ui-datepicker-next span:before {
			content: "\f344";
		}
	}
	.ui-datepicker-buttonpane {
		border-top: 1px solid #ddd;
		button {
			background: #f7f7f7;
		}
	}
}
